
.stage {
    height: 100vh;
    background: url('../images/background.jpg');
    background-size: cover;
    background-position: center center;
}

.stage .row {
    align-items: flex-start;
}

.stage__left {
    background-color: rgba(255,255,255,.9);
    padding: 20px !important;
    margin-top: 20px;
}
.stage__right {
    padding: 0 20px !important;
    margin-top: 20px;
}

.stage__right img {
    max-width: 100%;
    box-shadow: 10px 10px 38px -10px rgba(0,0,0,.9);
}
